.soloq {
  width: 280px;
  height: 280px;
  display: flex;
  background-color: rgb(255, 255, 255);
  border-radius: 13px;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
  padding: 5px;
}


.col1 {
  width: 170px;
  height: 270px;
}

.elo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.elo-img {
  width: 130px;
  height: 150px;
}

.row0 {
  width: 170px;
  height: 20px;
  position: relative;
  top: 10px;
  font-family: "Rubik", sans-serif;
  text-align: center;
}

.row1 {
  width: 170px;
  height: 220px;
}

.row2 {
  width: 170px;
  height: 30px;
}

.col2 {
  width: 100px;
  height: 270px;
}

.row3 {
  width: 100px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Karla", sans-serif;
}

.data-wr {
  width: 100px;
  height: 90px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  font-family: "Karla", sans-serif;
  white-space: pre;
}

.wins,
.loses,
.wr {
  min-width: 100px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wr {
  color: #ff3a3a; /*009B00*/
}

.row3-1 {
  width: 100px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.queue {
  height: 30px;
  width: 90px;
  font-size: 13px;
  margin-top: 5px;
  box-shadow: 1px 1px 10px 0px rgba(155, 160, 185, 0.3);
  border: 0px;
}

/*------------PROFILE INFO---------*/



/*---------MOS USED CHAMPS----------------*/
.most-used-champs{
  width: 280px;
  height: 365px;
  border-radius: 13px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
  0 15px 40px rgba(166, 173, 201, 0.2);
  padding: 10px;
}

.most-used-champ{
  width: 60px;
  height: 50px;
}

.champion-container-img{
  width: 54px;
  height: 54px;
  border: 2px solid #0083FF;
  border-radius: 50%;
  padding: 2px;
}

.used-champion-img{
  width: 46px;
  height: 46px;
  overflow: hidden;
  border-radius: 50%;
}


.item{
  width: 260px;
  height: 50px;
  display: flex;
}

.used-champ-img{
  width: 55px;
  height: 55px;
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  transition: all 0.3s;
  cursor: pointer;
}

.used-champ-img:hover{
  width: 50px;
  height: 50px;
} 

.divisor{
  min-width: 260px;
  min-height: 1px;
  background-color: #E5E5E5;
  border-radius: 1px;
  margin: 10px 0px;
}

.played-champion-container{
  width: 120px;
  height: 50px;
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  margin-top: 6px;
  font-weight: 900;
  color: #4A4A4A;
}

.percent-played{
  width: 100%;
  height: 25px;
  display: flex;
  justify-content: center;
  color: #005DB6;
}

.games-played{
  width: 100%;
  height: 25px;
  display: flex;
  justify-content: center;
}

.mastery-img{
  width: 50px;
  height: 50px;
  transition: all 0.1s;
}

.mastery-img:hover{
  cursor: pointer;
  filter: saturate(1.7);
}

.champion-mastery{
  width: 70px;
  height: 50px;
  display: flex;
  justify-content: center;
  margin-top: 3px;
}
