.col4 {
  width: 110px;
  height: 130px;
}

.col5 {
  width: 200px;
  height: 130px;
}

.col6 {
  width: 220px;
  height: 130px;
  display: flex;
  justify-content: center;
}

.row4 {
  width: 200px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-family: "Rubik", sans-serif;
}

.row5 {
  width: 200px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 13px;
  font-family: "Asap", sans-serif;
  color: #979fa5;
}

.row6 {
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  bottom: 13px;

  font-family: "Rubik", sans-serif;
}

.row7 {
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: "Rubik", sans-serif;
}

.summoner-info {
  width: 570px;
  height: 130px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
  border-radius: 13px;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  justify-content: space-around;
  margin-bottom: 30px;
}

.favorites-position {
  width: 100%;
}

.profile-icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding: 5px;
  border: 1.5px solid #59a9f5;
}

.profile-icon-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.lvl-container {
  position: relative;
  top: -55px;
  left: 78px;
  background-color: #002e5a;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-family: "Rubik", sans-serif;
}

.position {
  width: 40px;
  height: 40px;
  margin-right: 7px;
}

.position-container {
  display: flex;
  width: 100px;
  height: 65px;
  font-size: 12px;
  color: #3d3d3d;
  font-weight: 100;
}

.position-data {
  margin-top: 3px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

@media (max-width: 800px) {
  .col6 {
    width: 210px;
    height: 130px;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 630px) {
  .col5 {
    width: 60%;
  }

  .row4 {
    width: 100%;
  }

  .row5 {
    width: 100%;
  }

  .col6 {
    display: none;
  }

  .summoner-info {
    width: 80%;
    max-width: 100%;
    min-width: 0 !important;
    display: flex;
    flex-wrap: nowrap;
  }
}

@media (max-width: 900px) {
  .summoner-info {
    margin: auto !important;
  }
}
